$backgroundColor : #201D20;
$titleFont--color : #F9F2DA;
$subTitleFont--color : #424242;
$primariParagraphFont--color : #F9F2DA;
$secundariParagraphFont--color : #29858C;

$containerAboutMe : #131313;

$footerBackgroundColor : #29858C;

$corBotaoUm : #29858C;
$corEscritaBotaoUm: #F9F2DA;
$corBotaoUmHover : #F9F2DA;
$corEscritaBotaoUmHover: #29858C;